extends layout

block content
  br
  form#addThoughtForm
    div#addPage.input-group
      input#thoughtInput.form-control&attributes({'type': 'text', 'placeholder': 'What do you think, ' + userName + '?'})
      span.input-group-btn
        button.btn.btn-default&attributes({'type': 'submit'}) Add
  br
  div#quickAdd
    p.text-center
      br
      span.glyphicon.glyphicon-info-sign&attributes({'aria-hidden':'true'})
      p.text-center Firstly you have to add your thoughts manually, then — quick addition will be awailable

