extends layout

block content
  br
  br
  br
  div.input-group
    input.form-control&attributes({'type':'text', 'placeholder':'What?!..'})
    span.input-group-btn
      button.btn.btn-default&attributes({'type':'button'}) Add

