extends layout

block content
  div#cloudPage
    p.text-center
      br
      span.glyphicon.glyphicon-info-sign&attributes({'aria-hidden': 'true'})
      p.text-center
        a(href='add') Add your thoughts please,
        span  and he you'll can see all of them

