extends layout

block content

  span.label.label-margin.label-default деньги
  span.label.label-margin.label-primary будущее
  span.label.label-margin.label-success отдых
  span.label.label-margin.label-info музыка
  span.label.label-margin.label-warning смерть
  span.label.label-margin.label-danger нода
  span.label.label-margin.label-default деньги
  span.label.label-margin.label-primary будущее
  span.label.label-margin.label-success отдых
  span.label.label-margin.label-info музыка
  span.label.label-margin.label-warning смерть
  span.label.label-margin.label-danger нода
