doctype html
html
  head
    title= title
    meta&attributes({'name':'viewport', 'content':'width=device-width, initial-scale=1'})
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(rel='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(rel='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(rel='text/javascript', src='/javascripts/minder.js')
  body
    div.container-fluid
      h3.pull-left
        a(href='/') Minder
      br
      ul.nav.nav-pills.pull-right
        li.active&attributes({'role':'presentation'})
          a(href='add')
            span.glyphicon.glyphicon-plus&attributes({'aria-hidden':'true'})
        li&attributes({'role':'presentation'})
          a(href='stats')
            span.glyphicon.glyphicon-stats&attributes({'aria-hidden':'true'})
        li&attributes({'role':'presentation'})
          a(href='cloud')
            span.glyphicon.glyphicon-cloud&attributes({'aria-hidden':'true'})
        li&attributes({'role':'presentation'})
          a(href='calendar')
            span.glyphicon.glyphicon-calendar&attributes({'aria-hidden': 'true'})

    div.container
      div.starter-template
        br
        br
        block content



