extends layout

block content
    div.row.col-md-8.col-md-offset-2
    div.panel.panel-primary
        div.panel-heading
            h3.panel-title Authentification
        div.panel-body.text-center.login-buttons
            br
            if !loggedIn
                a(href='auth/facebook')
                    img(src='/images/facebook-32.png')
                a(href='auth/google')
                    img(src='/images/google-32.png')
            else
                button.btn.btn-default&attributes({'type': 'button'})
                    a(href='logout')
                        span.glyphicon.glyphicon-log-out&attributes({'aria-hidden': 'true'})  LogOut
            br
            br

