extends layout

block content
  blockquote Welcome to Minder — easiest way to track your thoughts.
  blockquote ...that's for super-nerds &  managers? :)
    footer
      cite Zork
  h4 How to use?
  ul
    li
      a(href='add') Auth
      span  with social networks
    li Please start by
      a(href='add')  adding new thought.
    li
      mark Share &rarr; Add to Home Screen
      span  will be usable for iPhone users.

