extends layout

block content
  br
  form#addThoughtForm
    div#addPage.input-group
      input#thoughtInput.form-control&attributes({'type': 'text', 'placeholder': 'What do you think, ' + userName + '?'})
      span.input-group-btn
        button.btn.btn-default&attributes({'type': 'submit'}) Add
  br
  div#quickAdd
