extends layout

block content
  div.alert.alert-success
    h4 Minder
    p Minder will provide you statistics about your thoughts and targets. Statistics, Karl!
  p.text-center
    span.glyphicon.glyphicon-arrow-up&attributes({'aria-hidden':'true'})
  div.alert.alert-warning
    h4 Add
    p Add you thoughts as often as you can
  p.text-center
    span.glyphicon.glyphicon-arrow-up&attributes({'aria-hidden':'true'})

  div.alert.alert-info
    h4 Login
    p.text-center
      button.btn.btn-default&attributes({'type': 'button'})
        a(href='auth/facebook')
          span.glyphicon.glyphicon-thumbs-up&attributes({'aria-hidden': 'true'})  Facebook
      button.btn.btn-default&attributes({'type': 'button'})
        a(href='auth/google')
          span.glyphicon.glyphicon-envelope&attributes({'aria-hidden': 'true'})  Google

