extends layout

block content
  div.alert.alert-success
    h4 Minder
      small  will provide you statistics about your thoughts and targets. Statistics, Karl!
  p.text-center
    span.glyphicon.glyphicon-arrow-up&attributes({'aria-hidden':'true'})
  div.alert.alert-warning
    h4 Add
      small  you thoughts as often as you can
  p.text-center
    span.glyphicon.glyphicon-arrow-up&attributes({'aria-hidden':'true'})

  div.alert.alert-info.login-buttons
    h4 Login
      small  with social networks
    p.text-center
      a(href='auth/facebook')
        img(src='/images/facebook-32.png')
      a(href='auth/google')
        img(src='/images/google-32.png')

