extends layout

block content

  h4 деньги
  div.progress
    div.progress-bar.progress-bar-success&attributes({'aria-valuenow': '40', 'style': 'width: 40%', 'role':'progressbar', 'aria-valuemin': '0', 'aria-valuemax': '100'})

  h4 будущее
  div.progress
    div.progress-bar.progress-bar-info&attributes({'aria-valuenow': '60', 'style': 'width: 60%', 'role':'progressbar', 'aria-valuemin': '0', 'aria-valuemax': '100'})

  h4 нода
  div.progress
    div.progress-bar.progress-bar-warning&attributes({'aria-valuenow': '50', 'style': 'width: 50%', 'role':'progressbar', 'aria-valuemin': '0', 'aria-valuemax': '100'})

  h4 смерть
  div.progress
    div.progress-bar.progress-bar-danger&attributes({'aria-valuenow': '30', 'style': 'width: 30%', 'role':'progressbar', 'aria-valuemin': '0', 'aria-valuemax': '100'})

  h4 музыка
  div.progress
    div.progress-bar.progress-bar-danger&attributes({'aria-valuenow': '30', 'style': 'width: 30%', 'role':'progressbar', 'aria-valuemin': '0', 'aria-valuemax': '100'})
