extends layout

block content
    div#statsPage
        p.text-center
            br
            span.glyphicon.glyphicon-info-sign&attributes({'aria-hidden': 'true'})
            p.text-center
                a(href='add') Add your thoughts please,
                span  and we'll show you some statistics here
